// Colors
$black: #000;
$dark: #222;
$white: #fff;
$brandColor1: #4e4eab;
$brandColor2: #4eab58;
$brandColor3: #585f6a;
$inputBgColor: #f9fafb;
$inputBorderColor: #d1d5db;
$searchResultsBorderColor: #d1d5db;
$listItemBorderColor: #d1d5db;
$buttonCloseBgColor: #e9e9e9;
$sidebarBoxShadowColor: rgb(0 0 0 / 30%);
$buttonRemoveFill: #aba4a4;
$searchResultsAddBlockBorder: #d1d5db;
$seachResultsPortionColor: #aba4a4;
$seachResultsPortionSvgFill: #aba4a4;


// Fonts
$font: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;

// Body settings
$body-font: 16px;
$body-line-height: 1.5;
$body-font-color: #222;

// Font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 300;
$light: 300;

// Font-weight
$line-height-sm: 1.1;
$line-height-md: 1.3;
$line-height-lg: 1.5;

// Heading font-sizes
$h1-desktop: 46px;
$h1-mobile: 24px;
$h2-desktop: 38px;
$h2-mobile: 20px;
$h3-desktop: 20px;
$h3-mobile: 18px;
$h4-desktop: 16px;
$h5-desktop: 14px;
$h6-desktop: 12px;

//Transition
$transition: .45s;

// Border-radius
$border-radius: 4px;
