@import '../abstracts/variables';
@import '../abstracts/breakpoints';
@import '../abstracts/mixins';
@import '../components/input';
@import '../components/button';

.search-form {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    @include respond-to('sm') {
        flex-direction: row;
    }
}

.search-form-input {
    margin-bottom: 10px;
    @include respond-to('sm') {
        margin-bottom: 0;
        margin-right: 10px;
    }
}
